#section-mainbody.page-topic-node #section-node-item .list-group-item .section-editbox {
  display: none;
}

#section-mainbody.page-topic-node #section-node-item .list-group-item:hover .section-editbox {
  display: block;
}

#sidebar-menu ul ul li.active a {
  color: #3292e0;
}

#section-datatable th,
#section-datatable td {
  white-space: nowrap;
}

