#section-mainbody.page-activity-index .carousel {
  background-color: #555;
}

#section-mainbody.page-activity-index .carousel .carousel-item {
  text-align: center;
  max-height: 300px;
}

@media (max-width: 767px) {
  #section-mainbody.page-activity-index .carousel .carousel-item {
    max-height: 200px !important;
  }
}

#section-mainbody.page-activity-index .carousel .carousel-item img {
  min-width: 100%;
}

#section-mainbody.page-activity-index #section-carousel {
  margin-bottom: 21px;
}

#section-mainbody.page-activity-index .card-activity {
  margin-bottom: 20px;
}

#section-mainbody.page-activity-index .card-activity .card-body .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

#section-mainbody.page-activity-index .card-activity .card-body .card-text {
  height: 44px;
  overflow: hidden;
}

