@include media-breakpoint-down(sm) {
  //
  // mobile not padding
  .m-np {
    padding: 0 !important;
  }

  //
  // mobile not border radius
  .m-nb-r {
    border-radius: 0 !important;
  }

  //
  // mobile not border y
  .m-nb-y {
    border-left: none !important;
    border-right: none !important;
  }

  //
  // mobile padding 15px x
  .m-p15-x {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
