#section-mainbody.page-user-uhome {
  #section-body {
    #mainTab {
      background-color: #ddd;
      border-radius: 0.25rem 0.25rem 0 0;
      border-bottom: 1.5px solid #2881b3;

      .nav-item {
        border-radius: 0.25rem 0.25rem 0 0;
        padding: 0.6rem 1.5rem;
      }
    }

    #nav-mainTabContent {
      margin-top: 16px;
    }
  }
}
